# <div align='center'>  Exercices : Tableaux et dictionnaires

<div class='alert-info'>

## Exercice 1
    
    Un fabricant décide de créer des tee-shirts dont la taille peut-être : XS, S, M, L, XL, XXL.
    A chaque taille son prix; il adopte le principe suivant :
    - 8 euros pour la taille XS
    - et il ajoute 2 euros en passant à la taille supérieure jusqu'au XXL.
    
1. Implémenter en Python ces informations dans la structure de données la mieux adaptée.

In [2]:
# YOUR CODE HERE

Ce même fabricant décide de changer sa façon de fixer le prix de revente des tee-shirt.<br>
Ceux dont la taille est XS sont toujours à 8 euros, mais cette fois-ci pour passer à la taille suivante, il faut ajouter au prix de la taille inférieure la moitié de sa racine carrée.
    
Par exemple, pour obtenir le prix des tailles S, il fait :   $8+\frac{\sqrt 8}{2}\simeq 9,41$
<br>
<br>
<div class='alert-info'>

2. Proposer un programme Python qui automatise ces calculs et les enregistre dans une structure de données adaptée.<br>
On pourra utiliser la fonction ``round(x,n)`` qui arrondi un flottant ``x`` à ``n`` après la virgule.

In [1]:
# YOUR CODE HERE

<div class='alert-info'>
    
## Exercice 2
    
    On considère une expression arithmétique exp de type str contenant des opérandes (nombres que l'on prendra ici entiers positifs) et des opérateurs binaires élémentaires (+, -, *, et /).
    Chaque opérande et opérateur sera séparé par un espace.
    
Ecrire en Python une fonction ``separe(exp)`` qui prend en argument une expression arithmétique ``exp`` de type ``str`` et qui renvoie deux tableaux : le premier, nommé ``operandes``, contenant les operandes de ``exp`` et la seconde, nommé ``operateurs``, contenant les opérateurs de ``exp``.
    
    Par exemple, si exp = '13 + 5 * 7 - 21', alors la fonction separe(exp) renvoie operandes = ['13','5','7','21'] et operateurs = ['+','*','-'].
    On pourra utiliser la méthode sur les chaînes de caractères .split() qui découpe une chaîne de caractères en un tableau de chaînes de caractères au niveau du séparateur espace.
    Ainsi '13 + 5 * 7 - 21'.split() renvoie le tableau ['13', '+', '5', '*', '7', '-', '21']

<br>

In [27]:
# YOUR CODE HERE

In [28]:
assert separe('13 + 5 * 7 - 21') == (['13','5','7','21'], ['+','*','-'])

<div class='alert-info'>
    
## Exercice 3
    
Ecrire en Python une fonction ``tab_to_dico`` qui admet pour argument un tableau de la forme ``tab = [clé1, valeur1, clé2,valeur2, ...]`` et qui renvoie le dictionnaire de la forme ``{clé1 : valeur 1, clé2 : valeur2,... }``

In [37]:
# YOUR CODE HERE

In [38]:
assert tab_to_dico(['Prenom', 'Julie', 'âge', 17, 'taille', '160 cm']) == {'Prenom': 'Julie', 'âge': 17, 'taille': '160 cm'}